.header {
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: #fff;

  &__bottom {
    display: none;
    background-color: #4FBFA5;
    padding: 24px 0 24px 0;
    @media (min-width: 992px) {
      display: block;
    }
  }

  &__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.top-nav {
  padding: 0 0 0 0;
  &__logo {
    margin-right: 0;
    padding: 17px 0 17px 0;
    @media (min-width: 992px) {
      border-right: 1px solid #c4c4c4;
      border-left: 1px solid #c4c4c4;
      padding: 17px 31.5px 17px 31.5px;
    }
    @media (min-width: 1200px) {
      padding: 17px 15px 17px 15px;
    }
    @media (min-width: 1400px) {
      padding: 17px 36px 17px 36px;
    }
  }

  &__list {
    width: 100%;
  }

  &__item {
    @media (min-width: 992px) {
      border-right: 1px solid #c4c4c4;
    }
  }

  &__link {
    padding: 10px 0 10px 0;
    line-height: 19px;
    color: #4FBFA5;
    &:hover, &:active, &:focus {
      color: #000;
    }
    @media (min-width: 992px) {
      padding: 36px 30px 35px 30px;
      color: #000;
      &:hover, &:active, &:focus {
        color: #4FBFA5;
      }
    }
    @media (min-width: 1200px) {
      padding: 36px 18px 35px 18px;
      color: #000;
    }
    @media (min-width: 1400px) {
      padding: 36px 45px 35px 46px;
      color: #000;
    }
  }
}

.impaired {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
  &__inner {
    padding: 20px 28px 19px 28px;
  }

  &__link {
    padding: 10px 15px 8px 10px;
    background-color: #00868A;
    color: #fff;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    &:hover, &:active, &:focus {
      color: #fff;
    }
  }

  &__icon {
    font-size: 22px;
    margin: 0 10px 0 0;
  }
}

.social {
  display: none;
  @media (min-width: 992px) {
    display: flex;
  }
  &__item {
    border-right: 1px solid #c4c4c4;
  }

  &__link {
    color: #4FBFA5;
    padding: 27px 15px 27px 15px;
    @media (min-width: 992px) {
      padding: 27px 30.5px 27px 30.5px;
    }
    @media (min-width: 1200px) {
      padding: 27px 24px 27px 23px;
    }
    @media (min-width: 1400px) {
      padding: 27px 27px 27px 27px;
    }
    &:hover, &:active, &:focus {
      color: #4FBFA5;
    }
  }

  &__icon {
    font-size: 24px;
  }
}

.bottom-nav {
  width: 75%;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 5px 0 0;
    }
  }

  &__link {
    line-height: 150%;
    color: #fff;
    transition: 0.3s ease-in;
    padding: 4px 0 4px 0;
    border-bottom: 1px dashed transparent;
    &:hover, &:active, &:focus {
      color: #fff;
      border-bottom-color: #fff;
    }
    @media (min-width: 1200px) {
      font-size: 18px;
    }
  }
}

.appointment {
  padding: 10px 15px 10px 15px;
  white-space: nowrap;
  background-color: #fff;
  line-height: calc(22 / 18 * 100%);
  color: #000;
  transition: 0.3s ease-in;
  &:hover, &:active, &:focus {
    background-color: rgb(236, 232, 232);
  }
  @media (min-width: 1200px) {
    font-size: 18px;
  }
}