.hero {
  padding: 180px 0 0 0;
  background-color: $accent-2;

  &__top {
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  &__data {
    color: #fff;
    text-align: center;
    @media (min-width: 992px) {
      text-align: left;
    }
  }

  &__title {
    font-size: 48px;
    line-height: calc(72 / 48 * 100%);
    margin: 0 0 20px 0;
  }

  &__description {
    margin: 0 0 40px 0;
  }

  &__slider {
    position: relative;
  }

  &__bottom {
    padding: 40px 0 0 0;
  }

  &__bottom-item {
    &:nth-child(even) {
      background-color: $accent-1;
    }
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    line-height: calc(31 / 21 * 100%);
    @media (min-width: 992px) {
      &:nth-child(odd) {
        background-color: $accent-1;
      }
      &:nth-child(even) {
        background-color: $accent-2;
      }
    }
    @media (min-wdith: 1200px) {
      font-size: 21px;
    }
  }
}

.hero-swiper {
  width: 100%;
  @media (min-width: 992px) {
    width: 101.6%;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
}

.hero-slider {
  &__button {
    width: 62px;
    height: 52px;
    border: 1px solid #fff;
    user-select: none;
    @media (min-width: 992px) {
      top: 75%;
    }
    @media (min-width: 1200px) {
      top: 69%;
    }

    &.swiper-button-next,
    &.swiper-button-prev {
      bottom: -55px;
    }

    &--next.swiper-button-next {
      right: 40%;
      @media (min-width: 992px) {
        left: -75px;
      }
    }

    &--prev.swiper-button-prev {
      left: 40%;
      @media (min-width: 992px) {
        left: -135px;
      }
    }

    &--next.swiper-button-next::after,
    &--prev.swiper-button-prev::after {
      font-size: 0; 
    }
  }
}